.wrapper {
  font-family: "Barlow Condensed", sans-serif;
  .home-wrapper {
    display: flex;
    background-color: #fefefe;
    position: relative;
    justify-content: center;
    h1 {
      position: absolute;
      z-index: 6;
      margin-top: 20px;
      font-size: 50px;
      color: #c9a26f;
      text-shadow: 6px 5px 7px #3e2a10;
      text-transform: uppercase;
    }
    .video {
      height: 100vh;
      width: 500px;
      &.intro {
        position: absolute;
        animation: apperance 200ms;
        &:hover {
          filter: blur(0);
        }
      }
      &.home {
        position: relative;
        z-index: 5;
      }
      &.mobileHome {
        display: none;
        margin-top: 100px;
      }
      &.isRight {
        position: absolute;
        animation: isRight 1.5s linear;
        right: 0;
      }
      &.backRight {
        position: absolute;
        right: 34%;
        animation: backRight 1.5s linear;
      }
      @keyframes backRight {
        from {
          right: 0;
        }
        to {
          right: 34%;
        }
      }
      @keyframes isRight {
        from {
          right: 34%;
        }
        to {
          right: 0;
        }
      }
      @keyframes apperance {
        from {
          opacity: 0;
        }
        to {
          opacity: 0.5;
        }
      }
    }
  }
  .infor {
    position: absolute;
    top: 45%;
    left: 12%;
    z-index: 4;
    animation: onbottom 1s linear;
    &.infor_isClick {
      animation: ontop 1s linear;
      top: 20%;
    }
    @keyframes ontop {
      from {
        top: 45%;
      }
      to {
        top: 20%;
      }
    }
    @keyframes onbottom {
      from {
        top: 20%;
      }
      to {
        top: 45%;
      }
    }
  }
  .pageDetail {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 4;
    min-height: 30%;
    width: 36%;
    margin-left: 10px;
    max-height: 75%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
  .audio {
    position: absolute;
    top: 30%;
    right: 4%;
    h2 {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }
    h3 {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      color: rgb(164, 62, 201);
    }
    .playList {
      width: 300px;

      .music {
        list-style: none;
        border: 1px solid;
        padding: 5px 10px;
        display: flex;
        cursor: pointer;
        .imageMusic {
          cursor: pointer;
          margin: 0px 10px;
          height: 50px;
          width: 60px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
            border-radius: 50%;
          }
        }
        .nameMusic {
          display: flex;
          flex-direction: column;
          cursor: pointer;

          span {
            cursor: pointer;
            font-size: 12px;
            padding: 5px;
          }
          .name {
            font-weight: 700;
            font-size: 20px;
            padding: 0px 10px;
          }
        }
      }
    }
  }
  .source {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    margin-right: 6px;
    margin-bottom: 3px;
  }
}

@import "./mainPageResponsive.scss";
